<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - QuickStart Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: QuickStart
  * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
  * Updated: May 01 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/logo.png" alt="">
     
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html#hero" class="">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#features">Features</a></li>
          <li><a href="index.html#services">Services</a></li>
          <li><a href="index.html#pricing">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="index.html#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="index.html#about">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="hero-bg">
        <img src="assets/img/hero-bg-light.webp" alt="">
      </div>
   
   <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 data-aos="fade-up" class="">Produk Hukum SETDA<span>  <br>Kabupaten Bandung</span></h1>
          <p data-aos="fade-up" data-aos-delay="100" class="">Peraturan DPRD , Keputusan DPRD, Naskah Akademik DPRD<br></p>
		  
<div class="container col-5">

  <form>
    <div class="input-group mb-3">
  <input type="text" class="form-control">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">cari</button>
  </div>
</div>
  </form>
   <div class="card-header">

      <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#searchForm">Pencarian Detail </button>
    </div>
	
</div>
 <div class="collapse" id="searchForm">
      <div class="card-body">
        <div class="mt-1 collapse show" id="collapseExample" style="">
  <div class="bg-white rounded p-3">
    <form action="" method="POST">
      <div class="row">
        <div class="col col-12 col-sm-6">
          <div class="d-flex flex-column gap-2">
            <div>
              <div class="small mb-1">Kategori:</div>
              <select class="form-select" name="kategori">
                <option value=""></option>
                <option value="45">Undang-Undang</option>
                <option value="47">Peraturan Pemerintah</option>
                <option value="48">Peraturan Presiden</option>
                <option value="56">Peraturan Daerah</option>
                <option value="65">Rancangan Peraturan Daerah</option>
                <option value="67">Peraturan Dewan Perwakilan Rakyat Daerah</option>
                <option value="68">Keputusan Dewan Perwakilan Rakyat Daerah</option>
                <option value="69">Keputusan Pimpinan Dewan Perwakilan Rakyat Daerah</option>
                <option value="71">Naskah Akademik</option>
                <option value="72">Risalah Rapat</option>
                <option value="81">Peraturan Wali Kota</option>
                <option value="82">Keputusan Wali Kota</option>
                <option value="85">Keputusan Sekretaris Dewan Perwakilan Rakyat Daerah Kota Bandung</option>
                <option value="86">Peraturan Menteri Dalam Negeri</option>
                <option value="87">Peraturan Menteri Hukum dan Hak Asasi Manusia</option>
                <option value="89">Peraturan Menteri Keuangan</option>
                <option value="90">Peraturan Menteri</option>
              </select>
            </div>
            <div>
              <div class="small mb-1">Tahun:</div>
              <select class="form-select" name="tahun">
                <option value=""></option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="1999">1999</option>
                <option value="1981">1981</option>
                <option value="1977">1977</option>
                <option value="1959">1959</option>
                <option value="1953">1953</option>
                <option value="1952">1952</option>
                <option value="1951">1951</option>
              </select>
            </div>
            <div>
              <div class="small mb-1">Nomor:</div>
              <input class="form-control" name="nomor">
            </div>
          </div>
        </div>
        <div class="col col-12 col-sm-6">
          <div class="d-flex flex-column gap-2">
            <div>
              <div class="small mb-1">Subjek/Tentang:</div>
              <input class="form-control" name="tentang">
            </div>
            <div>
              <div class="small mb-1">Status Akhir:</div>
              <select name="status" class="form-select">
                <option value=""></option>
                <option value="Dicabut">Dicabut</option>
                <option value="Mencabut">Mencabut</option>
                <option value="Diubah">Diubah</option>
                <option value="Mengubah">Mengubah</option>
                <option value="Batal">Batal</option>
              </select>
            </div>
            <div class="mt-4">
              <button class="btn btn-outline-secondary w-100" type="submit" onclick="return confirm('Cari Produk Hukum?');" name="submitcarijdih" value="CARI">Cari</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
      </div>
    </div>



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	    </div>
			    </div>
	  



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </section><!-- /Hero Section -->

 <!-- More Features Section -->
    <section id="more-features" class="more-features section">

      <div class="container">

       <div class="row gy-4 gx-4 gx-xl-5">
            <div class="col col-12 col-md-6">
                <div id="jdih-baru" class="d-flex flex-column">
                    <div class="text-135 fs-4 fw-600 fst-italic text-uppercase oswald m-0 p-0 lh-1 mb-3 mb-lg-4">Produk Hukum Terbaru</div>
                    <div class="d-flex flex-column gap-1 gap-lg-2">
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/kepdprd/2024/5" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Keputusan Dewan Perwakilan Rakyat Daerah Nomor 5 Tahun 2024</span>
        <span class="small lh-sm">Keputusan Sekretaris Dprd Kota Bandung Nomor Kd/05-Bapemperda/Iv/2024 tentang Perubahan Pembentukan Peraturan Daerah Kota Bandung Tahun 2024</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 3 | Diunduh: 0</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/perwali/2023/37" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Peraturan Wali Kota Nomor 37 Tahun 2023</span>
        <span class="small lh-sm">Peraturan Wali Kota Bandung Nomor 37 Tahun 2023 tentang Perubahan atas Peraturan Wali Kota Nomor 164 Tahun 2018 tentang Ketentuan Penyelenggaraan Ujian Dinas, Ujian Penyesuaian Kenaikan Pangkat dan Pencantuman Gelar Akademik bagi Pegawai Negeri Sipil Daerah di Lingkungan Pemerintah Kota Bandung</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 10 | Diunduh: 3</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/kepsekdprd/2024/25" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Keputusan Sekretaris Dewan Perwakilan Rakyat Daerah Kota Bandung Nomor 25 Tahun 2024</span>
        <span class="small lh-sm">Keputusan Sekretaris Dprd Kota Bandung Nomor: Kp.12.02/025-Setwan/Ii/2024 tentang Pentepatan Indikator Kinerja Utama di Lingkungan Sekretariat Dewan Perwakilan Rakyat Daerah Kota Bandung</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 38 | Diunduh: 8</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/perwali/2023/41" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Peraturan Wali Kota Nomor 41 Tahun 2023</span>
        <span class="small lh-sm">Peraturan Wali Kota Bandung Nomor 41 Tahun 2023 tentang Perubahan atas Peraturan Wali Kota Nomor 109 Tahun 2022 tentang Pelaksanaan Penyebarluasan Peraturan Daerah oleh Anggota Dewan Perwakilan Rakyat Daerah Kota Bandung</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 8 | Diunduh: 2</span></span>
    </span>
</a>
        </div>
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div id="jdih-populer" class="d-flex flex-column">
                    <div class="text-135 fs-4 fw-600 fst-italic text-uppercase oswald m-0 p-0 lh-1 mb-3 mb-lg-4">Produk Hukum Terpopuler</div>
                    <div class="d-flex flex-column gap-1 gap-lg-2">
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/perda/2022/5" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Peraturan Daerah Nomor 5 Tahun 2022</span>
        <span class="small lh-sm">Peraturan Daerah Kota Bandung Nomor 5 Tahun 2022 tentang Rencana Tata Ruang Wilayah Kota Bandung Tahun 2022-2042</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 11801 | Diunduh: 4204</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/permendagri/2023/15" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Peraturan Menteri Dalam Negeri Nomor 15 Tahun 2023</span>
        <span class="small lh-sm">Peraturan Menteri Dalam Negeri Republik Indonesia Nomor 15 Tahun 2023 tentang Pedoman Penyusunan Anggaran Pendapatan dan Belaja Daerah Tahun Anggaran 2024</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 7131 | Diunduh: 1846</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/kepwali/2022/206" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Keputusan Wali Kota Nomor 206 Tahun 2022</span>
        <span class="small lh-sm">Keputusan Wali Kota Bandung Nomor 973/Kep.206-Bapenda/2022 tentang Penyesuaian Nilai Jual Objek Pajak sebagai Dasar Pengenaan Pajak Bumi dan Bangunan di Kota Bandung</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 4238 | Diunduh: 922</span></span>
    </span>
</a>
        
<a class="d-flex border rounded bg-white align-items-center link-dark lh-1 gap-1 gap-lg-2 gap-xl-3 p-2 p-lg-3" href="https://jdih.dprd.bandung.go.id/dokumen/uu/2023/7" title="Klik untuk detail">
    <span class="bi bi-award fs-1 text-135"></span>
    <span class="d-flex flex-column gap-1 gap-xl-2">
        <span class="fw-400 fs-5 pb-1">Undang-Undang Nomor 7 Tahun 2023</span>
        <span class="small lh-sm">Undang-Undang Republik Indonesia Nomor 7 Tahun 2023 tentang Penetapan Peraturan Pemerintah Pengganti Undang-Undang Nomor 1 Tahun 2022 tentang Perubahan atas Undang-Undang Nomor 7 Tahun 2017 tentang Pemilihan Umum Menjadi Undang-Undang</span>
        <span class="small">Status: Berlaku</span>
        <span class="small"><span class="small text-secondary">Dilihat: 3401 | Diunduh: 812</span></span>
    </span>
</a>
        </div>
                </div>
            </div>
        </div>

      </div>

    </section><!-- /More Features Section -->

   


   


    
 <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->
    

  </main>

  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">QuickStart</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">QuickStart</strong><span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>